.icon_floating_bottom {
    position: fixed;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_size_45_white{
    color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    left: 20px;
}

.icon_banner_white {
    color: white;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

.icon_size_100_white{
    color: white;
    border-radius: 50%;
    width: 103px;
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    left: 20px;
}

.bg-banner {
    color: white;
    --bs-bg-opacity: 1;
    background-color: #4A628A;
}

.icon_green {
    background-color: #74d335;
}

.icon_orange {
    background-color: rgba(255,193,7,1);
}

.icon_yellow {
    background-color: #dfd10d;
}

.icon_blue {
    --bs-bg-opacity: 1;
    background-color: #7AB2D3;
}

.icon_blue_dark {
    --bs-bg-opacity: 1;
    background-color: #4A628A;
}

.icon_red {
    background-color: #cd0808;
}

.icon_calendar_month {
    background-image: url(../images/calendar_month_45dp_white.svg);
}

.icon_calendar_day {
    background-image: url(../images/event_45dp_white.svg);
}

.icon_calendar_before_month {
    background-image: url(../images/event_repeat_45dp_white.svg);
}

.icon_calendar_range {
    background-image: url(../images/date_range_45dp_white.svg);
}

.icon_dollar {
    background-image: url(../images/paid_45dp_white.svg);
}

.icon_item_down {
    background-image: url(../images/enable_45dp_white.svg);
}

.icon_item_start {
    background-image: url(../images/grade_45dp_white.svg);
}

.icon_item_equals {
    background-image: url(../images/swap_horizontal_circle_45dp_white.svg);
}

.icon_new_release {
    background-image: url(../images/new_releases_45dp_white.svg);
}

.icon_add {
    background-image: url(../images/add_circle_45_white.svg);
}

.icon_item_up {
    background-image: url(../images/arrow_circle_up_45dp_white.svg);
}

.icon_store {
    background-image: url(../images/store_45dp_white.svg);
}

.icon_store_front {
    background-image: url(../images/storefront_45dp_white.svg);
}

.icon_badge {
    background-image: url(../images/badge_44dp_white.svg);
}

.icon_password {
    background-image: url(../images/password_45dp_white.svg);
}

.icon_account_circle {
    background-image: url(../images/account_circle_45dp_white.svg);
}

.icon_account_circle_100 {
    background-image: url(../images/account_circle_100dp_white.svg);
}

.icon_pending_actions {
    background-image: url(../images/pending_actions_45dp_white.svg);
}

.icon_leaderboard {
    background-image: url(../images/leaderboard_44dp_white.svg);
}

.icon_verified {
    background-image: url(../images/verified_44dp_white.svg);
}

.icon_diversity_3 {
    background-image: url(../images/diversity_3_44dp_white.svg);
}

.icon_manage_accounts {
    background-image: url(../images/manage_accounts_44dp_white.svg);
}

.btn-blue-dark {
    --bs-btn-color: #39475e;
    --bs-btn-bg: #7AB2D3;
    --bs-btn-border-color: #7AB2D3;
    --bs-btn-hover-color: #39475e;
    --bs-btn-hover-bg: #B9E5E8;
    --bs-btn-hover-border-color: 7AB2D3;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #39475e;
    --bs-btn-active-bg: #B9E5E8;
    --bs-btn-active-border-color: 7AB2D3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #39475e;
    --bs-btn-disabled-bg: #B9E5E8;
    --bs-btn-disabled-border-color: #B9E5E8;
}